<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        <h4>{{photo[1]}}</h4>

        {% if likes %}
          {% for like in likes %}
          <h4>{{likes[1]}}</h4>
          <h4>{{likes[0]}}</h4>
          {% endfor %}
        {% endif %}
          

    {% endfor %}
    </ul>

    <body>
      <div class="title">
          <h1>Enter comments below</h1>
      </div>
      <div id="content">
          <form method="post" action="comments">
              <label for="comment">Enter your comment:</label>
              <input type="comment" name="comment" /><br />
              <label for="pid">Enter Picture ID:</label>
              <input type="pid" name="pid" /><br />
              <label for="like">Type Anything to Like:</label>
              <input type="like" name="like" /><br />
              <input type="submit" />
          </form>
      </div>
    </body>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/MyFriends'>Show Friends</a> </li>
<li><a href='/AddFriends'>Add Friends</a> </li>
<li><a href='/activities'>Top Users</a> </li>
<li><a href='/albums'>Albums</a></li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>
