{% if friends %}
<h2>Here are your friends</h2>
    <ul>
    {% for friend in friends %}

        <h4>{{friend[0]}}</h4>
    {% endfor %}
    </ul>
{% endif %}

{% if name %}
    <h4>{{name}}</h4>
{% endif %}

<body>
    <div class="title">
        <h1>Enter yourfriend's ID below</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('SearchFriends') }}">
            <label for="uid">Enter yourfriend's ID:</label>
            <input type="uid" name="uid" /><br />
            <input type="submit" />
        </form>
     </div>
</body>