{% if users %}
<h2>Here are the top tags used by our users</h2>
    <ul>
    {% for user in users %}

        <h4>{{tags[0]}}</h4>
    {% endfor %}
    </ul>
{% endif %}

{% if name %}
    <h4>{{tags}}</h4>
{% endif %}

<body>
    <div class="title">
        <h1>Enter user's ID below</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('SearchFriends') }}">
            <label for="uid">Enter user's ID:</label>
            <input type="uid" name="uid" /><br />
            <input type="submit" />
        </form>
     </div>
</body>

<ul>
    <a href='/'>Home</a>
</ul>