{% if tags %}
<h2>Here are the top tags used by our users</h2>
    <ul>
    {% for tag in tags %}

        <h4>{{tag[0]}}</h4>
    {% endfor %}
    </ul>
{% endif %}


<body>
    <div class="title">
        <h1>Enter tag below</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('searchTags') }}">
            <label for="tag">Enter tag name:</label>
            <input type="tag" name="tag" /><br />
            <input type="submit" />
        </form>
     </div>
</body>

{% if photos %}
  <h2>Here photos in tag</h2>
      <ul>
      {% for photo in photos %}
  
      <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        <h4>{{photo[1]}} has {{photo[3]}} likes</h4>    
  
      {% endfor %}
      </ul>
  
      
  {% endif %}
